.container {
  background-color: var(--tan);
  padding: 10rem 0rem;
}

.top {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.imgContainerii {
  position: relative;
  width: 250px;
  height: 250px;
  margin-left: 10rem;
}

.imgii {
  object-fit: contain;
  transform: scaleX(-1);
}

.heading {
  text-align: center;
}

.copy {
  text-align: center;
  opacity: 0.7;
  font-size: 1.4rem;
  width: 80%;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.right,
.rightTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
}

.rightTop {
  gap: 2rem;
  margin-bottom: 2rem;
}

.heading {
  font-family: var(--Merriweather);
  font-size: 4rem;
  letter-spacing: -1px;
}

.rightBottom {
  width: 100%;
}

.mapDataBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  /* border: 1px solid var(--gray); */
  background-color: var(--darkTan);
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  /* padding-bottom: 2rem; */
}

.iconBox {
  background-color: var(--lime);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
}

.icon {
  font-size: 3rem;
  color: var(--black);
}

.mapDataContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.title {
  font-family: var(--DotSansBold);
  font-size: 1.6rem;
  text-transform: capitalize;
}

.desc {
  font-size: 1.4rem;
  color: var(--lightBlack);
}

@media screen and (max-width: 1268px) {
  .top {
    width: 80%;
  }

  .right {
    gap: 20rem;
  }
}

@media screen and (max-width: 1068px) {
  .top {
    width: 90%;
  }

  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }

  .imgContainer {
    height: 50rem;
  }

  .right {
    gap: 10rem;
  }
}

@media screen and (max-width: 768px) {
  .top {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .copy {
    width: 95%;
  }

  .imgContainerii {
    width: 200px;
    height: 200px;
  }

  .right {
    gap: 5rem;
  }

  .btnContainer {
    margin-top: 2rem;
  }

  .mapDataBox {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    width: fit-content;
    width: 100%;
    border: 1px solid var(--tan600)
  }
}
