.container {
  padding: 10rem 0rem;
  padding-bottom: 0rem;
  background-color: var(--tan);
}

.content {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 5rem;
  border-top: 1px solid var(--gray);
  padding-top: 2rem;
  margin-bottom: 15rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.copy {
  width: 80%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 1rem;
}

.qaContainer {
  padding: 3rem;
  background-color: var(--darkerTan);
  border: 1px solid var(--textii);
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.answerContainer.show {
  max-height: 350px;
}

.headingArrowContainer {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.h3Container {
  display: flex;
  gap: 1rem;
}

.arrowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grayiii);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-left: auto;
}

.icon {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  font-size: 1.5rem;
  color: var(--black);
}

.iconFlip {
  transform: rotate(180deg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  color: var(--black);
}

.question {
  font-size: 2rem;
  font-family: var(--DotSansMedium);
  letter-spacing: normal;
}

.answer {
  margin-top: 2rem;
  color: var(--grayii);
  /* width: 90%; */
}

.titleHeading {
  letter-spacing: -5px;
  font-size: 15rem;
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }

  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .left {
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
    width: 90%;
  }

  .content {
    gap: 2rem;
  }
}
