.container {
  background-color: var(--tan);
  padding: 1rem;
  background-image: radial-gradient(#efeded 2px, transparent 2px);
  background-size: calc(10 * 2px) calc(10 * 2px);
  padding: 10rem 0rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.imgContainer {
  position: relative;
  width: 175px;
  height: 175px;
  margin-left: 10rem;
}

.img {
  object-fit: cover;
}

.heading {
  text-align: center;
}

.copy {
  text-align: center;
  max-width: 500px;
  color: var(--lighterBlack);
}

@media screen and (max-width: 568px) {
  .imgContainer {
    width: 200px;
    height: 200px;
  }
}
