.container {
  position: relative;
}

.imgOverlay {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(10, 7, 27, 0.5), rgba(10, 7, 27, 0.7));
}

.img {
  object-fit: cover;
  /* border-radius: 15px; */
}

.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15rem;
  padding: 20rem 3rem;
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.left {
  flex: 2;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  border-top: 1px solid var(--gray);
  width: 100%;
  padding-top: 2rem;
}

.heading {
  color: var(--tan);
}

.copy {
  color: var(--tan);
  width: 90%;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footerContainer {
  z-index: 3;
  background-color: var(--tan);
  padding: 2rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.footerLeft {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
  }

  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .parent {
    margin: 1rem;
  }

  .content {
    padding: 10rem 5rem;
  }

  .imgOverlay {
    clip-path: var(--clip-path-1);
  }

  .img {
    clip-path: var(--clip-path-1);
  }

  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .content {
    padding: 10rem 5rem;
  }
}
