.container {
  background-color: var(--lightBlack);
  padding: 10rem 0rem;
}

.content {
  width: 80%;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 15px;
}

.right {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10rem;
}

.rightTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.heading {
  color: var(--tan);
}

.copy {
  color: var(--tan);
  width: 80%;
}

.btnContainer {
  margin-top: 3rem;
}

.mapDataContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.card {
  background-color: var(--lighterBlack);
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid var(--adminGray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.title {
  color: var(--tan);
  font-family: var(--DotSansBold);
  font-size: 1.6rem;
  letter-spacing: -0.5px;
}

.desc {
  color: var(--whiteii);
}

@media screen and (max-width: 1268px) {
  .content {
    width: 100%;
    grid-template-columns: 1.5fr 2fr;
  }
}

@media screen and (max-width: 1068px) {
  .content {
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }

  .imgContainer {
    height: 400px;
  }

  .mapDataContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .right {
    gap: 5rem;
  }

  .card {
    height: 100%;
  }
}

@media screen and (max-width: 568px) {
  .btnContainer {
    margin-top: 1rem;
  }

  .imgContainer {
    height: 350px;
  }

  .rightTop {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .mapDataContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
