.container {
  background-color: var(--tan);
  background-image: radial-gradient(#efeded 2px, transparent 2px);
  background-size: calc(10 * 2px) calc(10 * 2px);
  padding-top: 10rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.imgContainer {
  position: relative;
  width: 175px;
  height: 175px;
}

.img {
  object-fit: cover;
}

.heading {
  text-align: center;
}

.copy {
  text-align: center;
  max-width: 500px;
  margin-bottom: 2rem;
  color: var(--lighterBlack);
}

@media screen and (max-width: 1068px) {
  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .imgContainer {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 568px) {
  .imgContainer {
    width: 100px;
    height: 100px;
  }

  .copy {
    width: 100%;
  }
}
