.container {
  background-color: var(--tan);
  background-image: radial-gradient(#efeded 2px, transparent 2px);
  background-size: calc(10 * 2px) calc(10 * 2px);
  padding-top: 10rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading {
  text-align: center;
}

.copy {
  text-align: center;
  max-width: 400px;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1068px) {
  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 568px) {
  .copy {
    width: 100%;
  }
}
