.container {
  background-color: var(--black);
  padding: 10rem 0rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 5rem;
}

.heading {
  color: var(--lime);
}

.copy {
  color: var(--gray);
  /* opacity: 0.7; */
  width: 70%;
  font-size: 1.6rem;
  max-width: 550px;
}

.mapDataContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  width: 100%;
  margin-top: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding-left: 2rem;
  border-left: 1px solid var(--lime);
  background-color: var(--lightBlack);
  padding: 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title {
  font-size: 2rem;
  font-family: var(--DotSansMedium);
  font-weight: 500;
  color: var(--tan);
}

.icon {
  color: var(--lime);
  font-size: 4rem;
  /* padding: 0.8rem; */
  /* background-color: var(--lime); */
  /* border-radius: 5px; */
}

.desc {
  color: var(--gray);
  opacity: 0.6;
  font-size: 1.4rem;
}

@media screen and (max-width: 1268px) {
  .mapDataContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1068px) {
  .mapDataContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .top {
    align-items: center;
    justify-content: center;
  }

  .heading {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}

@media screen and (max-width: 568px) {
  .mapDataContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top:30px;
  }
}

/* 

.btnContainer {
  margin-top: 2rem;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
}

.left {
  padding: 5rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  width: 350px;
  height: 350px;
  overflow: hidden;
  align-self: flex-start;
  justify-content: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.right {
  border-top: 1px solid var(--grayii);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
}

.rightTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.copy {
  color: var(--tan);
  width: 90%;
}

.rightBottom {
  width: 100%;
}

.mapDataContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding-left: 2rem;
  border-left: 1px solid var(--lime);
  background-color: var(--lighterBlack);
  padding: 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title {
  font-size: 2rem;
  font-family: var(--DotSansMedium);
  font-weight: 500;
  color: var(--tan);
}

.icon {
  color: var(--black);
  font-size: 4rem;
  padding: 0.8rem;
  background-color: var(--lime);
  border-radius: 5px;
}

.desc {
  color: var(--gray);
  opacity: 0.6;
  font-size: 1.4rem;
}

@media screen and (max-width: 1268px) {
  .bottom {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1068px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgContainer {
    height: 30rem;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right {
    grid-gap: 10rem;
  }

  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 0rem;
  }

  .imgContainer {
    min-height: 25rem;
    min-width: 25rem;
  }

  .left {
    padding: 0rem;
  }

  .right {
    grid-gap: 5rem;
    border-top: none;
  }

  .bottom {
    gap: 2rem;
  }

  .copy {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
  }

  .btnContainer {
    margin-top: 0rem;
  }

  .mapDataContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  .card {
    background-color: var(--lighterBlack);
    padding: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
} */
