.parent {
  padding: 10rem 0rem;
  background-color: var(--tan);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5rem;
}

.slider {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  padding: 2rem;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.track {
  display: flex;
  gap: 2rem;
  animation: scroll 40s linear infinite;
  width: max-content;
}

.imgContainer {
  position: relative;
  width: 300px;
  height: 370px;
  flex-shrink: 0;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--darkerTan);
  transition: all 0.2s ease-in;
}

.img {
  object-fit: cover;
}

.contentContainer {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  padding: 2rem;
}

.iconBox {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.icon {
  width: 6rem;
  height: 6rem;
  transition: all 0.2s ease-in;
}

.label {
  color: var(--black);
  margin-bottom: 2rem;
  transition: all 0.2s ease-in;
}

.desc {
  color: var(--lighterBlack);
  font-size: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.2s ease-in;
  line-height: 1.35;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.imgContainer:hover {
  background-color: var(--black);
  transform: rotate(-3deg);
}

.imgContainer:hover .label,
.imgContainer:hover .icon {
  color: var(--darkTan);
}

.imgContainer:hover .desc {
  color: var(--darkestTan);
}

@media screen and (max-width: 568px) {
  .track {
    gap: 1rem;
  }

  .imgContainer {
    width: 250px;
    height: 250px;
  }

  .label {
    font-size: 1.05rem;
  }
}
