.container {
  background-color: var(--tan);
  /* padding-bottom: 10rem; */
  /* padding: 10rem 0rem; */
}

.content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.heading {
      border-top: 1px solid var(--gray);
      padding-top: 2rem;
      margin-top: -1rem;
  font-family: var(--DotSansBold);
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: -0.5px;
}

.pillsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.pill {
  background-color: var(--lime);
  padding: 0.7rem 2rem;
  border-radius: 100px;
  font-family: var(--SuisseIntlMono);
  text-transform: uppercase;
  color: var(--black);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.btnContainer {
  margin-top: 1rem;
}

.statsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--darkTan);
  padding: 2rem;
  border-radius: 10px;
}

.statNumber {
  font-size: 9rem;
}

.statLabel {
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .statsContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .stat {
    background-color: var(--darkTan);
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid var(--gray);
  }

  .stat:nth-last-child(1) {
    grid-column: span 2;
  }

  .statNumber {
    font-size: 10vw;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    font-size: 2rem;
  }

  .pillsContainer {
    margin: 2rem 0rem;
  }

  .pill {
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-bottom: 1px solid var(--lighterBlack);
    border-radius: 0px;
    padding-bottom: 1rem;
    font-size: 1.6rem;
  }

  .icon {
    font-size: 3rem;
  }
}
