.container {
  background-color: var(--tan);
  padding: 10rem 0rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.imgContainer1 {
  position: relative;
  width: 200px;
  height: 200px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}


.heading {
  font-size: 3.5rem;
  text-align: center;
  max-width: 950px;
  letter-spacing: -1px;
}

.span1 {
  color: var(--lighterBlack);
}

.span2 {
  letter-spacing: -1.5px;
  color: var(--lighterBlack);
}