.container {
  background-color: var(--tan);
  padding: 10rem 0rem;
  padding-top: 20rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.left {
  border-top: 1px solid var(--gray);
  padding-top: 2rem;
}

.left,
.leftTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}

.left {
  gap: 10rem;
}


.heading {
  font-family: var(--Merriweather);
  font-size: 4rem;
  letter-spacing: -1px;
  white-space: nowrap;
}


.mapDataBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.iconBox {
  background-color: var(--lime);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
}

.icon {
  font-size: 3rem;
  color: var(--black);
}

.mapDataContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.title {
  font-family: var(--DotSansBold);
  font-size: 1.6rem;
  text-transform: capitalize;
}

.desc {
  /* width: 80%; */
  font-size: 1.4rem;
  opacity: 0.6;
}

@media screen and (max-width: 1268px) {
  .right {
    gap: 20rem;
  }
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    height: 40rem;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    font-size: 6.5vw;
    letter-spacing: -1.5px;
    white-space: normal;
  }

  .imgContainer {
    height: 30rem;
  }

  .left {
    gap: 5rem;
  }

  .card {
    border-bottom: 1px solid var(--gray);
    width: 100%;
    padding-bottom: 2rem;
  }
}
