.container {
  background-color: var(--black);
  padding: 10rem 0rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.heading {
  font-family: var(--DotSansMedium);
  color: var(--tan);
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: -1px;
  width: 60%;
  margin-bottom: 3rem;
}

.span {
  color: var(--tan);
  margin-top: 5rem;
  text-align: center;
}

.bottom {
  margin-top: 1rem;
  width: 100%;
}

.mapDataContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  /* border: 1px solid var(--darkGray); */
}

.card {
  border-radius: 10px;
  padding: 3rem;
  background-color: var(--lighterBlack);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.title {
  color: var(--tan);
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.imgContainer {
  position: relative;
  width: 150px;
  height: 150px;
  opacity: 0.5;
}

.img {
  object-fit: contain;
}

@media screen and (max-width: 1268px) {
  .heading {
    width: 80%;
  }
}

@media screen and (max-width: 1068px) {
  .mapDataContainer {
    grid-template-columns: repeat(2, 1fr);
    border: none;
  }

  .card {
    border-radius: 10px;
  }

  .card:last-child {
    grid-column: span 2;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    width: 90%;
  }
}

@media screen and (max-width: 568px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .heading {
    width: 100%;
    text-align: left;
  }
  
  .span {
    margin-left: auto;
    margin-right: auto;
  }

  .mapDataContainer {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem; */
    grid-gap: 2rem;
  }

  .card {
    background-color: var(--lighterBlack);
    border: none;
  }

  .title {
    text-align: center;
    width: 100%;
  }

  .imgContainer {
    width: 100%;
    height: 100px;
  }

  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
