.container {
  background-color: var(--tan);
  /* padding: 10rem 0rem; */
  /* padding-bottom: 0rem; */
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.left {
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: var(--stickyTop);
}

.copy {
  width: 80%;
  color: var(--lighterBlack);
}

.imgContainer {
  position: relative;
  width: 250px;
  height: 250px;
}

.img {
  object-fit: cover;
}

.bottom {
  margin-top: 1rem;
  width: 100%;
}

.mapDataContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.card {
  border-radius: 10px;
  padding: 3rem;
  background-color: var(--tan);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.title {
  color: var(--tan);
  font-size: 2rem;
  text-align: center;
  width: 100%;
  font-family: var(--DotSansMedium);
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    position: static;
    align-items: center;
    justify-content: center;
    top: var(--stickyTop);
  }

  .heading,
  .copy {
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 10rem 0rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .copy {
    width: 90%;
  }

  .mapDataContainer {
    grid-gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    background-color: var(--lighterBlack);
    border: none;
  }

  .title {
    text-align: center;
    width: 100%;
  }

  .imgContainer1 {
    width: 200px;
    height: 200px;
  }

  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
