/* Features.module.css */
.container {
  z-index: 2;
  /* background-color: var(--tan); */
  padding: 10rem 0rem;
  padding-top: 0rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding-bottom: 1rem;
}

.heading {
  font-size: 3.2rem;
  letter-spacing: -1px;
}

.copy {
  font-family: var(--DotSansBold);
  font-size: 2.5rem;
  letter-spacing: -0.5px;
  /* color: var(--tan); */
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.parent {
  position: relative;
}

.background {
  display: none;
  background-color: var(--darkerTan);
  width: 100%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;
}

.imgContainer,
.imgContainer1 {
  position: relative;
  width: 250px;
  height: 250px;
}

.img {
  object-fit: cover;
}

.imgContainer1 {
  display: none;
}

.dataContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  position: relative;
}

.dataContainer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 75%;
  width: 40%;
  height: 10%;
  background-color: var(--darkerTan);
  transform: translate(-50%, -50%);
  z-index: 0;
}

.dataContainer::after {
  content: "";
  position: absolute;
  bottom: 5%;
  right: 0%;
  width: 70%;
  height: 20%;
  background-color: var(--darkerTan);
  z-index: 0;
}

.content {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 10px;
  min-height: 200px;
  background-color: var(--darkerTan);
  transition: 0.2s all ease-in;
  cursor: pointer;
}

.content {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 10px;
  min-height: 200px;
  background-color: var(--darkerTan);
  transition: 0.2s all ease-in;
  cursor: pointer;
  z-index: 1;
}

.content::after,
.content::before {
  content: "";
  position: absolute;
  left: -2rem;
  width: 2rem;
  height: 40%;
  border-radius: 10px;
  background-color: var(--tan);
  z-index: 2;
}

.content::after {
  top: 0;
}
.content::before {
  bottom: 0;
}
.content:nth-child(1),
.content:nth-child(2),
.content:nth-child(3),
.content:nth-child(5),
.content:nth-child(6),
.content:nth-child(9) {
  border: 0px;
  background-color: transparent;
}

.content:nth-child(1) .overlay,
.content:nth-child(2) .overlay,
.content:nth-child(3) .overlay,
.content:nth-child(5) .overlay,
.content:nth-child(6) .overlay,
.content:nth-child(9) .overlay {
  display: none;
  opacity: 0;
}

.title {
  font-size: 1.6rem;
  font-family: var(--DotSansBold);
  letter-spacing: normal;
  /* color: var(--white); */
  transition: color 0.2s ease;
  text-align: center;
}

.desc {
  font-size: 1.4rem;
  color: var(--lighterBlack);
  transition:
    color 0.2s ease,
    opacity 0.2s ease;
}

.content:nth-child(1) .iconContainer,
.content:nth-child(2) .iconContainer,
.content:nth-child(3) .iconContainer,
.content:nth-child(5) .iconContainer,
.content:nth-child(6) .iconContainer,
.content:nth-child(9) .iconContainer {
  display: none;
  opacity: 0;
}

.icon {
  color: var(--tan);
  font-size: 5rem;
  transition: 0.2s all ease-in;
}

@media screen and (max-width: 1268px) {
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5rem;
  }

  .imgContainer1 {
    display: block;
  }

  .imgContainer {
    display: none;
  }

  .heading {
    text-align: center;
  }

  .span {
    width: 100%;
  }

  .imgContainer {
    width: 275px;
    height: 275px;
  }

  .copy {
    width: 80%;
  }

  .dataContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .content:nth-child(1),
  .content:nth-child(2),
  .content:nth-child(3),
  .content:nth-child(5),
  .content:nth-child(6),
  .content:nth-child(9) {
    display: none;
  }

  .dataContainer::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    width: 95%;
    height: 20%;
    background-color: var(--darkerTan);
    z-index: 0;
  }

  .dataContainer::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 95%;
    height: 20%;
    background-color: var(--darkerTan);
    z-index: 0;
  }
}

@media screen and (max-width: 768px) {
  .dataContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .background {
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .top {
    align-items: center;
    justify-content: center;
  }

  .imgContainer1 {
    width: 200px;
    height: 200px;
    margin-bottom: 2rem;
  }

  .heading {
    width: 100%;
  }

  .copy {
    width: 100%;
    /* text-align: left; */
  }

  .content {
    margin-bottom: 0rem;
    cursor: default;
  }

  .dataContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .background {
    height: 100%;
    background-color: var(--darkerTan);
    width: 30%;
  }

  .content::after,
  .content::before {
    left: -2rem;
    width: 2rem;
    height: 40%;
    background-color: var(--tan);
    top: auto;
    bottom: -2rem;
    left: 0;
    height: 2rem;
    width: 40%;
  }

  .content::after {
    right: 0;
    left: auto;
  }

  .dataContainer::after,
  .dataContainer::before {
    display: none;
  }
}
