.container {
  z-index: 2;
  background-color: var(--tan);
  padding: 10rem 0rem;
  padding-top: 0rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 1rem;
}

.heading {
  font-size: 3.2rem;
  letter-spacing: -1px;
}

.copy {
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.dataContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  padding-top: 3rem;
  border-radius: 10px;
  background-color: var(--darkerTan);
  transition: 0.2s all ease-in;
}

.content:nth-child(1),
.content:nth-child(2),
.content:nth-child(3),
.content:nth-child(5),
.content:nth-child(6),
.content:nth-child(9) {
  border: 0px;
  background-color: transparent;
}

.title {
  font-size: 1.6rem;
  font-family: var(--DotSansMedium);
  letter-spacing: normal;
}

.desc {
  font-size: 1.4rem;
  opacity: 0.7;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 5rem;
  height: 5rem;
  background-color: var(--lime);
  border: 1px solid var(--grayiii);
  color: var(--black);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 5rem;
}

.content:nth-child(1) .iconContainer,
.content:nth-child(2) .iconContainer,
.content:nth-child(3) .iconContainer,
.content:nth-child(5) .iconContainer,
.content:nth-child(6) .iconContainer,
.content:nth-child(9) .iconContainer {
  display: none;
}

.icon {
  color: var(--black);
  font-size: 5rem;
  transition: 0.2s all ease-in;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 1268px) {
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .heading {
    text-align: center;
  }

  .span {
    width: 100%;
  }

  .imgContainer {
    width: 275px;
    height: 275px;
  }

  .copy {
    width: 80%;
  }

  .dataContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .content:nth-child(1),
  .content:nth-child(2),
  .content:nth-child(3),
  .content:nth-child(5),
  .content:nth-child(6),
  .content:nth-child(9) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .dataContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .top {
    align-items: center;
    justify-content: center;
  }

  .heading {
    width: 100%;
  }

  .copy {
    width: 90%;
  }

  .content {
    margin-bottom: 0rem;
  }

  .dataContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .box {
    grid-template-columns: repeat(1, 1fr);
  }
}
