.container {
  background-color: var(--tan);
  padding: 1rem;
  background-image: radial-gradient(#efeded 2px, transparent 2px);
  background-size: calc(10 * 2px) calc(10 * 2px);
  /* padding-bottom: 20rem; */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading {
  text-align: center;
}

.copy {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.imgContainer {
  position: relative;
  width: 250px;
  height: 250px;
}

@media screen and (max-width: 768px) {
  .imgContainer {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 568px) {
  .imgContainer {
    width: 175px;
    height: 175px;
  }
}
