.container {
  background-color: var(--tan);
  padding-top: 10rem;
}

.content {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 5rem;
  width: 80%;
  margin-left: auto;
  /* margin-right: auto; */
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10rem;
}

.leftTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 5rem;
  width: 100%;
}

.heading {
  font-size: 2rem;
  font-family: var(--DotSansBold);
  letter-spacing: -0.5px;
}

.subHeadingii {
  font-size: 1.4rem;
  font-family: var(--DotSansMedium);
  letter-spacing: -0.5px;
}

.leftBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.subHeading {
  font-size: 2rem;
}

.stat {
  font-size: 8rem;
    font-family: var(--Merriweather);
  letter-spacing: -3px;
}

.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid var(--darkTan);
  border-radius: 15px;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.rightTwo {
  background-color: var(--lime);
  padding: 3rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
}

.rightTwoA {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.SectionIntroContainer {
  display: grid;
  width: 100%;
  background-color: rgba(36, 36, 34, 0.1);
  padding: 1rem 2rem;
  border-radius: 50px;
  text-align: center;
}

.icon {
  font-size: 10rem;
  width: 100%;
  /* opacity: 0.2; */
  color: rgba(36, 36, 34, 0.1);

  margin-top: 3rem;
}

.rightTwoB {
  width: 100%;
}

.mapDataContainer {
  list-style: none;
  margin-top: 5rem;
  width: 100%;
}

.card {
  padding: 1rem 0rem;
  border-bottom: 1px solid var(--lighterBlack);
  font-size: 1.6rem;
  font-family: var(--DotSansBold);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.arrow {
  transform: rotate(45deg);
}

@media screen and (max-width: 1468px) {
  .content {
    width: 100%;
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    gap: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .right {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    height: 300px;
  }

  .img {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
  }

  .rightTwo {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    gap: 5rem;
  }
}

@media screen and (max-width: 568px) {
  .imgContainer {
    height: 275px;
  }

  .rightTwo {
    gap: 0rem;
  }

  .mapDataContainer {
    margin-top: 2rem;
  }
}
