.parent {
  background-color: var(--floral-white);
}

.container {
  position: relative;
  min-height: 60rem;
}

.imgOverlay {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(10, 7, 27, 0.7), rgba(10, 7, 27, 0.7));
}

.img {
  object-fit: cover;
}

.content {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5rem;
  width: 50%;
  z-index: 3;
  flex: 2;
  background-color: var(--tan);
  border-top-left-radius: 15px;
}


.copy {
  color: var(--text);
  width: 80%;
  font-weight: 500;
  font-size: 1.6rem;
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
  }

  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 10rem 5rem;
  }

  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .content {
    padding: 10rem 5rem;
  }
}
