.container {
  background-color: var(--tan);
  padding: 10rem 0rem;
  padding-bottom: 0rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 5rem;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.btnContainer {
  margin-top: 2rem;
}

.imgContainer1 {
  position: relative;
  width: 275px;
  height: 275px;
}

.img1 {
  object-fit: contain;
}

.copy {
  color: var(--lighterBlack);
  max-width: 500px;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 500px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 1268px) {
  .content {
    flex-direction: column;
    gap: 3rem;
  }

  .heading,
  .copy {
    text-align: center;
  }

  .copy {
    max-width: 700px;
  }

  .left, .right, .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  } 

  .btnContainer {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .imgContainer {
    height: 400px;
  }
}

@media screen and (max-width: 568px) {
  .mapDatContainer {
    grid-template-columns: 1fr;
  }

  .imgContainer1 {
    position: relative;
    width: 200px;
    height: 200px;
  }

  .copy {
    max-width: 95%;
  }
}
