.container {
  background-color: var(--darkTan);
  padding: 10rem 0rem;
  padding-bottom: 0rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  margin-bottom: 5rem;
}

.left {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.illustrationContainer {
  position: relative;
  width: 100%;
  height: 350px;
}

.illustration {
  object-fit: contain;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.btnContainer {
  margin-top: 2rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 500px;
}

.img {
  object-fit: cover;
  border-radius: 15px;
}


.copy {
  color: var(--lighterBlack);
  max-width: 500px;
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    grid-row-gap: 5rem;
  }

  .right {
    order: -1;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: span 2;
  }

  .copy {
    max-width: 650px;
  }

  .btnContainer {
    margin-top: 1rem;
  }

  .left {
    justify-content: center;
  }

  .imgContainer {
    height: 350px;
  }
}

@media screen and (max-width: 568px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainerii {
    display: none;
  }

  .illustrationContainer {
    height: 275px;
  }

  .middle {
    display: none;
  }
}
