.container {
  background-color: var(--tan);
  padding: 10rem 0rem;
  padding-bottom: 0rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  margin-bottom: 5rem;
}

.left {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.btnContainer {
  margin-top: 2rem;
}

.imgContainer,
.imgContainerii {
  position: relative;
  width: 100%;
  height: 500px;
}

.img {
  object-fit: cover;
  border-radius: 15px;
}

.imgContainerii {
  height: 180px;
  margin-top: auto;
}

.copy, .copyii {
  color: var(--lighterBlack);
  max-width: 500px;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: 1fr;
    grid-gap: 5rem;
  }

  .right {
    order: -1;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .copy {
    display: none;
  }

  .btnContainer {
    margin-top: 0rem;
  }

  .left {
    justify-content: center;
  }

  .imgContainerii {
    height: 100%;
  }
}
