.container {
  background-color: var(--tan);
  padding: 10rem 0rem;
  padding-bottom: 0rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.imgContainer1 {
  position: relative;
  width: 275px;
  height: 275px;
}

.img1 {
  object-fit: contain;
}

.heading {
  text-align: center;
}

.copy {
  color: var(--lighterBlack);
  max-width: 600px;
  text-align: center;
}

.bottom {
  margin-top: 5rem;
}

.mapDatContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 500px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .imgContainer {
    height: 400px;
  }
}

@media screen and (max-width: 568px) {
  .bottom {
    margin-top: 3rem;
  }

  .mapDatContainer {
    grid-template-columns: 1fr;
  }

  .imgContainer1 {
    position: relative;
    width: 200px;
    height: 200px;
  }
}
