.container {
  background-color: var(--tan);
  padding: 10rem 0rem;
}

.imgContainer {
  position: relative;
  width: 275px;
  height: 275px;
  margin-left: auto;
  margin-right: auto;
}

.img {
  object-fit: cover;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: var(--black);
  padding: 3rem 2rem;
  border-radius: 10px;
}

.heading {
  color: var(--tan);
  text-align: center;
}

.mapDataContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.dataItem {
  position: relative;
  margin-left: 1.5rem;
  width: 90%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.closeIcon {
  flex-shrink: 0;
  /* margin-top: 0.3rem; */
  stroke: var(--lime);
}

.dataText {
  color: var(--whiteii);
  font-family: var(--DotSansRegular);
  letter-spacing: 0.2px;
  line-height: 1.4;
  border-bottom: 1px solid var(--grayii);
  padding-bottom: 1rem;
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.dataText:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.bold {
  text-align: center;
  font-family: var(--DotSansBold);
  letter-spacing: 0.2px;
  line-height: 1.4;
  color: var(--lime);
  margin-top: 3rem;
}

.imgContaineri,
.imgContainerii {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }

  .imgContaineri,
  .imgContainerii {
    height: 400px;
  }

  .middle {
    order: -1;
    grid-column: span 2;
  }
}

@media screen and (max-width: 568px) {
  /* .imgContainer {
    width: 200px;
    height: 200px;
  }
  .content {
    grid-template-columns: 1fr;
  }

  .middle {
    grid-column: span 1;
  } */
  .imgContaineri,
  .imgContainerii {
    height: 300px;
  }
}
