.container {
  background-color: var(--tan);
  padding: 10rem 0rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 49vw;
  border-radius: 10px;
  overflow: hidden;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(0, 0, 0, 0.25) 60%,
    rgba(0, 0, 0, 0.55) 100%
  );
  z-index: 1;
}

.right .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0.10) 60%,
    rgba(0, 0, 0, 0.05) 100%
  );
  z-index: 1;
}

.textOver {
  position: absolute;
  inset: auto 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  z-index: 2;
   -webkit-backdrop-filter: blur(90px);
  backdrop-filter: blur(90px);
  padding: 2rem;
  border-radius: 10px;
}

.textOverTop {
  inset: 0 0 auto 0;
}

.bold {
  font-family: var(--DotSansBold);
  color: var(--white);
  letter-spacing: 0.1px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.left {
  margin-top: 5rem;
}

.heading {
  font-family: var(--DotSansBold);
  letter-spacing: -0.5px;
  font-size: 2rem;
  color: var(--tan);
 margin-top: 1rem;
}

@media (max-width: 1200px) {
  .content {
    max-width: 86%;
  }
}

@media (max-width: 900px) {
  .content {
    grid-template-columns: 1fr;
    max-width: 92%;
  }
  .imgContainer {
    height: 68vw;
  }
}
