.container {
  background-color: var(--darkerTan);
  border-radius: 30px;
  padding: 5rem 0rem;
}

.top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 3rem;
}



.span2 {
  letter-spacing: -1.5px;
  /* color: var(--lighterBlack); */
}

.bottom {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 2rem;
}

.bottomLeft,
.mapDataContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.bottomLeft {
  gap: 15rem;
}

.copy {
  color: var(--text);
  font-family: var(--DotSansBold);
}

.dataItem {
  position: relative;
  /* margin-left: 1.5rem; */
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.closeIcon {
  flex-shrink: 0;
  stroke: var(--grayiii);
}

.dataText {
  background-color: var(--tan);
  padding: 1.5rem;
  border-radius: 10px;
  color: var(--lightBlack);
  font-family: var(--BDOGroteskDemiBold);
  line-height: 1.4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.bold {
  font-family: var(--BDOGroteskDemiBold);
  color: var(--black);
  font-size: 2rem;
  line-height: 1.35;
}

.bottomRight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 20px;
}

.btnContainerMobile {
  display: none;
}

@media screen and (max-width: 1268px) {
  .content {
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }

  .top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 0rem;
    order: -1;
  }

  .btnContainer {
    display: none;
  }

  .btnContainerMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .bottom {
    margin-top: 3rem;
    grid-template-columns: repeat(1, 1fr);
    order: -1;
    border-top: none;
    /* border-top: none;
    padding-top: 0rem; */
  }

  .imgContainer {
    height: 300px;
  }

  .bottomLeft {
    gap: 3rem;
  }

  .bold {
    text-align: center;
    width: 100%;
    /* font-size: 1.8rem;
    letter-spacing: -0.2px; */
    background-color: var(--lightBlack);
    color: var(--tan);
    border-radius: 2rem;
    padding: 3rem;
  }

  .bottomRight {
    order: -1;
  }

  .heading {
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .content {
    padding: 1rem;
    padding-top: 3rem;
    padding-top: 3rem;
    border: 1px solid var(--darkerTan);
  }

  .imgContainer {
    height: 275px;
  }
}
