.container {
  background-color: var(--tan);
}

.content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 5rem;
}

.bottom {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 2rem;
  border-top: 1px solid var(--gray);
  padding-top: 2rem;
}

.bottomLeft,
.mapDataContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.bottomLeft {
  gap: 15rem;
}

.copy {
  color: var(--text);
  font-family: var(--DotSansBold);
}

.dataItem {
  position: relative;
  /* margin-left: 1.5rem; */
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.closeIcon {
  flex-shrink: 0;
  stroke: var(--grayiii);
}

.dataText {
  background-color: var(--darkTan);
  padding: 1.5rem;
  border-radius: 10px;
  color: var(--lightBlack);
  font-family: var(--DotSansBold);
  letter-spacing: 0.2px;
  line-height: 1.4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.bold {
  font-family: var(--DotSansBold);
  letter-spacing: 0.2px;
  line-height: 1.4;
  color: var(--black);
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 1268px) {
  .content {
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .top {
    order: -1;
    flex-wrap: wrap;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
    order: -1;
    /* border-top: none;
    padding-top: 0rem; */
  }

  .imgContainer {
    height: 300px;
  }

  .bottomLeft {
    gap: 3rem;
  }

  .bold {
    text-align: center;
    width: 100%;
    font-size: 1.8rem;
    letter-spacing: -0.2px;
    background-color: var(--lightBlack);
    color: var(--tan);
    border-radius: 1rem;
    padding: 3rem;
  }

  .bottomRight {
    order: -1;
  }
}

@media screen and (max-width: 568px) {
  .top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  .heading {
    text-align: center;
  }
}
