/* app/admin/billing/webhooks/WebhooksPage.module.css */
.container {
  padding: 5rem 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.title {
  font-family: var(--DotSansMedium);
  font-size: 2rem;
  letter-spacing: -0.02em;
}
