.container {
  background-color: var(--tan);
  padding: 10rem 0rem;
  padding-bottom: 0rem;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: radial-gradient(var(--tan700) 2px, transparent 2px);
  background-size: 10px 10px;
  width: 100%;
  height: 15rem;
  opacity: 0.5;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  mask-image: linear-gradient(to bottom, black, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black, transparent);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.imgContainer1 {
  position: relative;
  width: 250px;
  height: 250px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.imgContainer2 {
  /* position: relative; */
  /* width: 100px; */
  /* height: 300px; */
  border-radius: 10px;
}

.copy {
  font-family: var(--DotSansMedium);
  font-size: 1.6rem;
  color: var(--lighterBlack);
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btnContainer {
  margin-top: 1rem;
}

.heading {
  text-align: center;
}

.bottom {
  margin-top: 5rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.background {
  display: none;
  background-color: var(--darkerTan);
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
  left: 0;
}

.mapDataBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  position: relative;
  z-index: 1;
}

/* .mapDataBox::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 95%;
  height: 30%;
  background-color: var(--darkerTan);
  z-index: 0;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.mapDataBox::after {
  content: "";
  position: absolute;
  top: 15%;
  width: 95%;
  height: 20%;
  background-color: var(--darkerTan);
  z-index: -1;
  left: 0%;
}

.card {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--darkerTan);
  border-radius: 10px;
  padding: 3rem;
  padding-bottom: 2rem;
  width: 100%;
  min-height: 250px;
  position: relative;
  z-index: 1;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -2rem;
  width: 2rem;
  height: 40%;
  border-radius: 10px;
  background-color: var(--tan);
  z-index: 1;
}

.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -2rem;
  width: 2rem;
  height: 40%;
  border-radius: 10px;
  background-color: var(--tan);
  z-index: 1;
}

.card:last-child {
  padding: 1rem;
}

.cardWide {
  grid-column: span 2;
}

.icon {
  font-size: 5.6rem;
  color: var(--white);
}

.pattern1 {
  background-image: linear-gradient(0deg, transparent 50%, var(--black) 50%);
  background-size: 5px 5px;
  width: 6rem;
  height: 6rem;
  opacity: 0.5;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  margin-top: auto;
}

.pattern2 {
  background-image: linear-gradient(0deg, transparent 50%, var(--black) 50%);
  background-size: 5px 5px;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0.5;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pattern3 {
  background-image: linear-gradient(0deg, transparent 50%, var(--black) 50%);
  background-size: 5px 5px;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0.5;
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.pattern4 {
  background-image: linear-gradient(0deg, transparent 50%, var(--black) 50%);
  background-size: 5px 5px;
  width: 5rem;
  height: 5rem;
  opacity: 0.5;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.pattern5 {
  background-image: linear-gradient(0deg, transparent 50%, var(--black) 50%);
  background-size: 5px 5px;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0.5;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.pattern6 {
  background-image: linear-gradient(0deg, transparent 50%, var(--black) 50%);
  background-size: 5px 5px;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0.5;
  clip-path: circle(50% at 50% 50%);
}

.pattern7 {
  background-image: linear-gradient(0deg, transparent 50%, var(--black) 50%);
  background-size: 5px 5px;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0.5;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.mapDataContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.title {
  font-family: var(--DotSansBold);
  font-size: 1.6rem;
  text-transform: capitalize;
  /* color: var(--tan); */
}

.desc {
  font-size: 1.4rem;
  color: var(--grayii);
}

@media screen and (max-width: 1468px) {
  .bottom {
    width: 100%;
  }
}

@media screen and (max-width: 968px) {
  .mapDataBox {
    grid-template-columns: repeat(2, 1fr);
  }

  /* .mapDataBox::before {
    top: 37%;
    width: 100%;
    height: 10%; */
  /* background-color: red; */
  /* } */

  .mapDataBox::after {
    /* background-color: blue; */
    top: 10%;
    height: 10%;
  }

  .cardWide {
    grid-column: span 1;
  }

  .background {
    display: block;
    left: 0%;
    top: auto;
    bottom: 25%;
    width: 50%;
    background-color: var(--darkerTan);
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 568px) {
  .mapDataBox {
    grid-template-columns: 1fr;
  }

  .mapDataBox::before {
    display: none;
  }

  .mapDataBox::after {
    height: 65%;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
  }

  .card::after,
  .card::before {
    left: -2rem;
    width: 2rem;
    height: 40%;
    background-color: var(--tan);
    top: auto;
    bottom: -2rem;
    left: 0;
    height: 2rem;
    width: 40%;
  }

  .card::after {
    right: 0;
    left: auto;
  }

  .card {
    min-height: 200px;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .mapDataContent {
    gap: 2rem;
  }

  .title,
  .desc {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    margin-top: 2rem;
  }

  .content::after {
    right: 0;
    left: auto;
  }

  .cardWide {
    grid-column: span 1;
  }

  .imgContainer1 {
    width: 200px;
    height: 200px;
  }
}
