.container {
  background-color: var(--tan);
  padding: 10rem 0rem;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: radial-gradient(var(--tan700) 2px, transparent 2px);
  background-size: 10px 10px;
  width: 100%;
  height: 15rem;
  opacity: 0.5;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  mask-image: linear-gradient(to bottom, black, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black, transparent);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.imgContainer1 {
  position: relative;
  width: 250px;
  height: 250px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.imgContainer2 {
  /* position: relative; */
  /* width: 100px; */
  /* height: 300px; */
  border-radius: 10px;
}

.copy {
  font-family: var(--DotSansMedium);
  font-size: 1.6rem;
  color: var(--lighterBlack);
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btnContainer {
  margin-top: 1rem;
}

.heading {
  text-align: center;
}

.bottom {
  margin-top: 5rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mapDataBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  position: relative;
  z-index: 1;
}

.mapDataBox::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 95%;
  height: 30%;
  background-color: var(--lightBlack);
  z-index: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mapDataBox::after {
  content: "";
  position: absolute;
  top: 5%;
  width: 95%;
  height: 20%;
  background-color: var(--lightBlack);
  z-index: -1;
  left: 0%;
  /* transform: translate(-50%, -50%); */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--lightBlack);
  border-radius: 10px;
  padding: 3rem;
  width: 100%;
  min-height: 300px;
  position: relative;
  z-index: 1;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -2rem;
  width: 2rem;
  height: 40%;
  border-radius: 10px;
  background-color: var(--tan);
  z-index: 1;
}

.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -2rem;
  width: 2rem;
  height: 40%;
  border-radius: 10px;
  background-color: var(--tan);
  z-index: 1;
}

.card:last-child {
  padding: 1rem;
}

.cardWide {
  grid-column: span 2;
}

.icon {
  font-size: 5.6rem;
  color: var(--white);
}

.pattern1 {
  background-image: linear-gradient(0deg, transparent 50%, var(--lime) 50%);
  background-size: 5px 5px;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0.5;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.pattern2 {
  background-image: linear-gradient(0deg, transparent 50%, var(--lime) 50%);
  background-size: 5px 5px;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0.5;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pattern3 {
  background-image: linear-gradient(0deg, transparent 50%, var(--lime) 50%);
  background-size: 5px 5px;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0.5;
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.pattern4 {
  background-image: linear-gradient(0deg, transparent 50%, var(--lime) 50%);
  background-size: 5px 5px;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0.5;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.pattern5 {
  background-image: linear-gradient(0deg, transparent 50%, var(--lime) 50%);
  background-size: 5px 5px;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0.5;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.pattern6 {
  background-image: linear-gradient(0deg, transparent 50%, var(--lime) 50%);
  background-size: 5px 5px;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0.5;
  clip-path: circle(50% at 50% 50%);
}

.pattern7 {
  background-image: linear-gradient(0deg, transparent 50%, var(--lime) 50%);
  background-size: 5px 5px;
  width: 5.6rem;
  height: 5.6rem;
  opacity: 0.5;
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.mapDataContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.title {
  font-family: var(--DotSansBold);
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--tan);
}

.desc {
  font-size: 1.5rem;
  color: var(--lighterBlack);
  color: var(--grayii);
}

@media screen and (max-width: 1468px) {
  .bottom {
    width: 100%;
  }
}

@media screen and (max-width: 968px) {
  .mapDataBox {
    grid-template-columns: repeat(2, 1fr);
  }

  .mapDataBox::before {
    top: 20%;
  }

  .cardWide {
    grid-column: span 2;
  }
}

@media screen and (max-width: 768px) {
  .mapDataBox {
    grid-template-columns: 1fr;
  }

  .cardWide {
    grid-column: span 1;
  }
}
