.container {
  background-color: var(--darkGreen);
  padding: 10rem 0rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btnContainer {
  margin-top: 1rem;
}

.heading {
  text-align: center;
  color: var(--white);
}

.bottom {
  margin-top: 5rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mapDataBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  position: relative;
}

.mapDataBox::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 95%;
  height: 30%;
  background-color: var(--green);
  z-index: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--green);
  border-radius: 10px;
  padding: 3rem;
  width: 100%;
  min-height: 500px;
  position: relative;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -2rem;
  width: 2rem;
  height: 40%;
  border-radius: 10px;
  background-color: var(--darkGreen);
  z-index: 1;
}

.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -2rem;
  width: 2rem;
  height: 40%;
  border-radius: 10px;
  background-color: var(--darkGreen);
  z-index: 1;
}

.icon {
  font-size: 5.6rem;
  color: var(--white);
}

.mapDataContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.title {
  font-family: var(--DotSansBold);
  font-size: 2rem;
  color: var(--white);
  text-transform: capitalize;
}

.desc {
  font-size: 1.5rem;
  color: var(--whiteii);
}
