.logo {
  cursor: pointer;
  font-family: var(--DotSansMedium);
  z-index: 999;
  font-size: 2rem;
  letter-spacing: -1px;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 1;
}

.center {
  position: relative;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 15px;
}

.large {
  font-size: 7rem;
}

.footerLarge {
  font-size: inherit;
}

.blackii {
  color: var(--blackii);
}

.icon {
  color: var(--black);
  width: 2.2rem;
  height: 2.2rem;
  position: relative;
  top: -1px;
}

.img {
  object-fit: contain;
  width: 30px;
  height: 30px;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 568px) {
  .img {
    width: 40px;
    height: 40px;
  }

  /* .text {
    display: none;
  } */
}
