.logo {
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* gap: 0.2rem; */
  z-index: 1;
}


.text1 {
  font-family: var(--Merriweather);
  color: var(--tan);
  font-size: 1.8rem;
  text-transform: lowercase;
  line-height: 1;
}

.text2 {
  font-family: var(--inter);
  font-weight: 300;
  color: var(--lime);
  font-size: 1.8rem;
  text-transform: lowercase;
  line-height: 1;
}

.text3 {
  font-family: var(--inter);
  font-weight: 700;
  color: var(--tan);
  font-size: 1.8rem;
  text-transform: lowercase;
  line-height: 1;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--lime);
  margin-right: 1rem;
  /* font-size: 2rem; */
  /* position: relative; */
  /* top: -1px; */
}

@media screen and (max-width: 968px) {
  .logo {
    gap: 1rem;
  }
}
