.logo {
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}

.text1 {
  font-family: var(--Merriweather);
  color: var(--black);
  font-size: 1.6rem;
  text-transform: capitalize;
  line-height: 1;
}

.text2 {
  font-family: var(--inter);
  font-weight: 300;
  color: var(--darkTan);
  font-size: 1.8rem;
  text-transform: lowercase;
  line-height: 1;
}

.text3 {
  font-family: var(--inter);
  font-weight: 700;
  color: var(--tan);
  font-size: 1.6rem;
  text-transform: capitalize;
  /* line-height: 1; */
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  /* width: 1rem; */
  /* height: 1rem; */
  /* border-radius: 50%; */
  /* background-color: var(--lime); */
  color: var(--black);
  margin-right: 1rem;
  font-size: 1.8rem;
  position: relative;
  top: -1px;
}
