.logo {
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  z-index: 1;
}

.center {
  position: relative;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 15px;
}

.text {
  font-family: var(--DotSansRegular);
  color: var(--tan);
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  color: var(--lime);
  font-size: 2rem;
  position: relative;
  top: -1px;
}

@media screen and (max-width: 968px) {
  .logo {
    gap: 1rem;
  }
}
