.logo {
  cursor: pointer;
  z-index: 999;
  background-color: var(--black);
  padding: 1rem 2rem;
  border-radius: 50px;
}

.text1 {
  font-family: var(--Merriweather);
  color: var(--black);
  font-size: 1.6rem;
  text-transform: capitalize;
  line-height: 1;
  white-space: nowrap;
}

.icon {
  /* width: 1rem; */
  /* height: 1rem; */
  /* border-radius: 50%; */
  /* background-color: var(--lime); */
  color: var(--black);
  margin-right: 1rem;
  font-size: 1.8rem;
  position: relative;
  top: -1px;
}

.imgContainer {
  position: relative;
  aspect-ratio: 365 / 180;
  height: 15%;
  width: 15%;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 568px) {
  .logo {
    padding: 1.2rem 2rem;
  }
}
